<!DOCTYPE html>
<html>
  <head>
    <title>Music Store</title>
    <link rel = "stylesheet", type = "text/css"; href = "/style.css"/>
  </head>

<nav>
  <p>
    <a href='/albums'>Show inventory</a>
    <a href='/albums/new'>Add new album</a>
    <a href='/artists/new'>Add new artist</a>
    <a href='/artists'>View all artists</a>
  <p>
<nav>

  <body>
      <%= yield %>
  </body>
</html>