<!DOCTYPE html>
<html>
  <head>
    <title>Music Store</title>
    <link rel="icon" href="record_player.png" />
    <link rel = "stylesheet", type = "text/css"; href = "/style.css"/>
  </head>

<nav>
  <p>
    <a class="menu_item" href='/albums'>Show inventory</a>
    <a class="menu_item" href='/albums/new'>Add new album</a>
    <a class="menu_item" href='/artists/new'>Add new artist</a>
    <a class="menu_item" href='/artists'>View all artists</a>
    <a class="menu_item" href='/genres'>View all genres</a>
 <img src="/record_player_small.png"/>
  <p>
</nav>

<hr/>

  <body>
      <%= yield %>
      <div class="image"><img src="/musical_notes.png"/></div>
  </body>
</html>