<!DOCTYPE html>
<html>
  <head>
    <title>Music Store</title>
    <link rel = "stylesheet", type = "text/css"; href = "/style.css"/>
  </head>

<nav>
  <p>
    <a class="menu_item" href='/albums'>Show inventory</a>
    <a class="menu_item" href='/albums/new'>Add new album</a>
    <a class="menu_item" href='/artists/new'>Add new artist</a>
    <a class="menu_item" href='/artists'>View all artists</a>
  <p>
</nav>

<hr/>

  <body>
      <%= yield %>
  </body>
</html>