<h1>Confirm delivery receipt</h1>

<form action='/albums/<%= @album.id %>/delivery_conf' method='post'>
<label>Check delivery and hit confirm to update quantity: </label>

<input type="submit" value="Confirm" />
</form>

