<h1>Edit album info</h1>

<form action='/albums' method='post'>
      <p>
        <label>
        Title:
          <input type="text" name="title"
          value="<%= @album.title %>"/>
        </label>
      </p>

      <p>
        <label>
        Artist:
          <select name = "artist_id" >
            <option disabled selected >select...</option>
              <%for artist in @artists%>
                <option value="<%=artist.id%>" > <%=artist.name%></option>
              <%end%>
          </select>
        </label>
      </p>

      <p>
        <label>
        Quantity:
          <input type="number" name="quantity"
          value="<%= @album.quantity %>" />
        </label>
      </p>

    <input type="submit" value="Update album"/>

</form>
