<h2>Add new album to inventory</h2>

<h5>If artist does not exist, add here:</h5>

<form action='/artists/new_album' method='post'>
    <p>
      <label>
        Artist name:
        <input type="text" name="name" />
      </label>
    </p>

  <input type="submit" value="Save artist"/>
</form>


<h5>Add album</h5>
<form action='/albums' method='post'>
      <p>
        <label>
        Title:
          <input type="text" name="title" />
        </label>
      </p>

      <p>
        <label>
        Choose artist:
          <select name = "artist_id" >
            <option disabled selected >select...</option>
              <%for artist in @artists%>
                <option value="<%=artist.id%>" > <%=artist.name%></option>
              <%end%> 
          </select>
        </label>
      </p>

    <p>
      <label>
      Genre:
        <select name = "genre_id" >
          <option disabled selected >select...</option>
            <%for genre in @genres%>
              <option value="<%=genre.id%>" > <%=genre.name%></option>
            <%end%>
        </select>
      </label>
    </p>
  
      <p>
        <label>
        Quantity:
          <input type="number" min="0" name="quantity" />
        </label>
      </p>

    <input type="submit" value="Save album"/>

</form>

