<h1>Add new album</h1>

<h4>Add a new album to the inventory.</h4>

<form action='/albums' method='post'>
      <p>
        <label>
        Title:
          <input type="text" name="title" />
        </label>
      </p>

      <p>
        <label>
        Artist:
          <select name = "artist_id" >
            <option disabled selected >select...</option>
              <%for artist in @artists%>
                <option value="<%=artist.id%>" > <%=artist.name%></option>
              <%end%>
          </select>
        </label>
      </p>

    <p><a href='/artists/new'>Add a new artist</a></p>

      <p>
        <label>
        Quantity:
          <input type="number" name="quantity" />
        </label>
      </p>

    <input type="submit" value="Save album"/>

</form>
