<h1>Place order</h1>

<p>Album title: <%= @album.title %></p>
<p>Artist: <%= @album.artist.name %></p>
<p>Quantity: <%= @album.quantity %></p>


  <form action="'/albums/<% @album.id %>" method="post">
    <label>
        Amount to order:
          <input type="number" name="on_order"/>
    </label>

    <input type="submit" value="Place order"/>
  </form>

