<h1>Place order</h1>

<p>Album title: <%= @album.title %></p>
<p>Artist: <%= @album.artist.name %></p>
<p>Stock remaining: <%= @album.quantity %></p>


  <form action="/albums/<%=@album.id %>/order_conf" method="post">
    <label>
        Amount to order:
          <input type="number" min="0" name="on_order"/>
    </label>

    <input class="btn" type="submit" value="Place order"/>
  </form>

