body {
  background-image: url('record.jpg');
  color: white;
  font-family: Arial;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;

}

th, td {
  padding: 10px;
  text-align: left;
}

.number_column {
  text-align: right;
}




