body {
  background: AliceBlue;
  color: black;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

.image {
  display: flex;
  justify-content: flex-end;
  padding: none;
  margin: 0px;
}

table {
    margin: auto;
    width: 90%;
}

.artists {
  margin:auto;
  width: 70%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


th, td {
  padding: 10px;
  text-align: left;
}

.number_column {
  text-align: right;
}

.button {
  text-align: center;
}

.menu_item {
  padding-right: 20px;
}

.btn {
  border: 1px solid OrangeRed;
  background-color: orange;
  color: white;
  padding: 6px;
  border-radius: 10px;
  text-decoration: none;
  font-size: small;
  text-transform: uppercase;
}

.btn:hover {
  background-color: OrangeRed;
}

.small {
  font-size: small;
}

.centre {
  text-align: center;
}

.flex {
  display: flex;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
  border-left: 1px solid black;
}

#genres ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  min-width: 100px;
}


#genres li, p {
  padding: 7px;
}
