body {
  background-color: LightBlue;
  background-size: 100%
  color: black;
  font-family: Tahoma, Geneva, sans-serif;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}

th, td {
  padding: 10px;
  text-align: left;
}

.number_column {
  text-align: right;
}



