<h1>Genres</h1>

<p><a class='btn' href='/genres/new'>Add new genre</a></p>

<div id="genres" class="flex flex--row flex--wrap">

<% for genre in @genres %>
  <div class="flex flex--column">
    <p class="title"><%= genre.name %></p>
    <ul>
    <% for album in genre.albums %>
      <li><%= album.title %></li>
    <%end%>
    </ul>
  </div>
<%end%>

</div>










