<p><h1>Genres (number of albums)</h1></p>

<p><a class='btn' href='/genres/new'>Add new genre</a></p>

<div id="genres" class="flex flex--row flex--wrap">

<% for genre in @genres %>
  <div class="flex flex--column">
    <p><%= genre.name %> (<%= genre.albums.count %>)</p>
    <hr/>
    <ul>
    <% for album in genre.albums %>
      <li><%= album.title %></li>
    <%end%>
    </ul>
  </div>
<%end%>

</div>










