<h1>Add a new genre</h1>

<form action='/genres' method='post'>
    <p>
      <label>
        Name:
        <input type="text" name="name" />
      </label>
    </p>

  <input type="submit" value="Save"/>
</form>