<h1>Artists</h1>

<div>
<% for artist in @artists%>
        <p><%= artist.name %> </p>
        <a class="small" href='artists/<%= artist.id %>'>View albums in stock</a>
        <a class="small" href='/artists/<%= artist.id %>/edit'>Edit artist</a>
      <hr/>
    <%end%>
</div>