<h1>Artists</h1>

<p>Add a new artist <a href='artists/new'>here</a></p>

<div style="padding:10px">
<table>
  <tr>
    <th>Name</th>
  </tr>
    <% for artist in @artists%>
  <tr>
    <td>  <%= artist.name %> </td>
  </tr>
    <%end%>
</table>
</div>