<h1>Artists</h1>

<p>Add a new artist <a href='artists/new'>here</a></p>
<p>Add a new album <a href='/albums/new'>here</a></p>

<div style="padding:10px">
    <% for artist in @artists%>
        <%= artist.name %> 
        <a href='artists/<%= artist.id %>'>View albums</a>
        <a href='/artists/<%= artist.id %>/edit'>Edit</a>
      <hr/>
    <%end%>
</div>