<h1>Artists</h1>

<div>
<% for artist in @artists%>
        <%= artist.name %> 
        <a href='artists/<%= artist.id %>'>View albums</a>
        <a href='/artists/<%= artist.id %>/edit'>Edit</a>
      <hr/>
    <%end%>
</div>