<h1>Add a new artist</h1>

<form action='/artists' method='post'>
    <p>
      <label>
        Name:
        <input type="text" name="name" />
      </label>
    </p>

  <input class="btn" type="submit" value="Save artist"/>
</form>